img {
	margin: 0;
	padding: 0;
	text-align: center;
    image-rendering: auto;
}
main {
    margin:80px;
}

body {
    margin: 8px;
    display:block;
    background-color: powderblue;
}

.funParagraph {
    color:green;
}

#mainHeading {
    color:red;
    text-align: center;
}
.currency{
    color:black;
    font-size: 200%;
    font-weight: 200;

}